body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #fdfcf3
}

.promoted-container {
    position: relative;
}

.promoted-label {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    flex: 100000;
}

a{
    text-decoration: none;
}
button{
    height: 100%;
    padding: 0 30px;
    background-color: #EB5B00;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background-color: #FF9D23;
    font-weight: bold;
}

.header-btn{
    padding: 20px 25px;
}
.header-login-btn{
    background-color: #77B254;
}
.header-logout-btn{
    background-color: #EB5B00;
}

.header-container{
    border-bottom: 2px solid #EB5B00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.logo-container{
    border: 1px solid green;
    padding: 0;
    height: 80px;
    width: 80px;
}
.logo-container img{
    width: 100%;
    height: 100%;
}
.nav-list{
    display: flex;
    list-style-type: none;
}
.nav-list li a{
    font-size: 35px;
    font-weight: bold;
    color: #EB5B00;
    margin-right: 80px;
    transition: 0.3s ease;
    text-decoration: none;
}
.nav-list li a:hover{
    cursor: pointer;
    color: #FF9D23;
}

/*
    Body Component Styling
*/
.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 80px;
}
.search-container input{
    width: 50%;
    height: 100%;
    padding: 0 20px;
    border: 1px solid #EB5B00;
    border-radius: 5px;
    font-size: 25px;
    outline: none;
    margin-right: 10px;
}

.filter-btn{
    margin-top: 30px;
    margin-left: 40%;
    padding: 20px 25px;
    background-color: #EB5B00;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.filter-btn:hover{
    background-color: #FF9D23;
    font-weight: bold;
}

/*
    Restaurant Card Styling
*/

.res-card-container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    scrollbar-width: none;
    /* border: 2px solid green; */
}
/* Hide scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
.res-card-container::-webkit-scrollbar {
    display: none;
}
.restaurant-container{
    border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 0 auto;
    margin-top: 50px;
    margin-left: 50px;
}
.card-image-container{
    max-width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.card-image-container img{
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
}
.res-card-title{
    font-size: 20px;
    color: rgb(54, 54, 54);
    text-decoration: none;
}
.card-info{
    padding: 0 20px;

}
.card-info .tags {
    font-size: 16px;
    color: #ADA991;
    margin-bottom: 0;
}
.card-info .rating-time{
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(54, 54, 54);
}
.restaurant-container button{
    padding: 15px 20px;
    width: 100%;
    background-color: #EB5B00;
    border: none;
    outline: none;
    border-radius: 0 0 10px 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.restaurant-container button:hover{
    background-color: #f0782e;
}

/*
    Footer Component Styling
*/
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    color: white;
    font-size: 25px;
    /* font-weight: bold; */
    margin-top: 100px;
    padding: 20px 150px;
}
.footer-container .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid green; */
    width: 100%;
    /* padding: 20px 50px; */
    gap: 50px;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.footer-links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-address-contact{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    flex: 2;
}
.footer-address-contact .footer-contact{
    display: flex;
    flex-direction: column;
    flex: 3;
}
.footer-address-contact .footer-contact form{
    display: flex;
    flex-direction: column;
}
.footer-address{
    flex: 1;
}
.footer-address-contact .footer-contact form input,textarea{
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    border: none;
    border-radius: 5px;
}
.footer-address-contact .footer-contact form textarea{
    height: 100px;
    padding: 5px 10px;
}
.footer-address-contact .footer-contact button{
    width: 100%;
    padding: 10px 20px;
    background-color: #EB5B00;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.footer-address-contact .footer-contact button:hover{
    background-color: #f0782e;
}
.footer-address{
    font-weight: 400;
    font-size: 18px;
}
.footer-address p{
    margin: 0;
}
.footer-address .address{
    margin-bottom: 15px;
}
.footer-address .footer-title{
    font-weight: bold;
}

/*
    Shimmer Effect Styling
*/
.shimmer-card-container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px;
    scrollbar-width: none;
}
.shimmer-container{
    border: none;
    /* height: 550px; */
    background-color: #f0f0f0;
}
.shimmer-image-container img{
    border: none;
    outline: none;
}
.shimmer-container .shimmer-card-info{
    background-color: #ebebeb;
}
.shimmer-container .card-info .heading-3{
    width: 100%;
    height: 30px;
    background-color: #e4e4e4;
    margin-top: 10px;
}
.shimmer-rating-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.shimmer-rating-time .heading-3 { 
    max-width: 50px;
    height: 20px;
    margin-bottom: 5px;
}
.shimmer-container > button{
    background-color: #e4e4e4;
    margin-top: 20px;
    height: 60px;
}

.user-card{
    border: 1px solid black;
    margin: 15px auto;
    padding: 15px 20px;
}
.title{
    text-align: center;
    margin: 50px;
}